h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

.caps {
  text-transform: uppercase;
}

.red_capitalize {
  text-transform: capitalize;
  color: #DB574D;
}

.button-container {
  position: relative;
  width: 16 0px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #DB574D;
  transition: transform 0.3s ease;
}

.button-circle--big {
  border: 1px solid #DB574D;
  background-color: transparent;
  width: 160px;
  height: 160px;
  opacity: 0.7;
}

.button-circle--small {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #DB574D;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: rotate 2.5s infinite linear;
  transform-origin: left top;
}
.button-circle--small:hover {
  animation-play-state: paused;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

.button-text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

.caps {
  text-transform: uppercase;
}

.red_capitalize {
  text-transform: capitalize;
  color: #DB574D;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 0 40px;
}
.header--logo {
  font-size: 30px;
  line-height: 26.4px;
  text-transform: uppercase;
}

.start {
  display: flex;
  height: 100vh;
  max-height: 950px;
  margin-top: 55px;
  position: relative;
}
.start--first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  max-height: 900px;
  z-index: 100;
  left: 0;
}
.start--first--text {
  margin-top: 70px;
}
.start--first--text--title {
  line-height: 160px;
  font-size: 180px;
  color: #DB574D;
}
.start--first--text--subtitle {
  text-transform: uppercase;
  margin-left: 195px;
  color: #101010;
  line-height: 66px;
}
.start--first--action {
  display: flex;
}
.start--first--action--foto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.start--first--action--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.start--sec {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 1000px;
  position: absolute;
  right: 0;
}
.start--sec--img {
  width: 100%;
  max-width: 700px;
}
.start--sec--arrow {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 100px;
  gap: 20px;
}
.start--sec--arrow img {
  max-width: 20px;
}
.start--sec--arrow p {
  font-size: 16px;
}

#visual-artist {
  margin-left: 275px !important;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 544px;
  margin-top: 159px;
}
.services--first p {
  font-size: 16px;
}
.services--sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services--sec--block {
  display: flex;
  gap: 50px;
  width: 100%;
  height: 100%;
  max-height: 114px;
  max-width: 800px;
}
.services--sec--block h3 {
  color: #DB574D;
  text-transform: uppercase;
}
.services--sec--block--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services--sec--block--content h3 {
  color: #101010;
}
.services--sec--block--content p {
  font-size: 18px;
  line-height: 28.8px;
}
.services--sec--block--border {
  height: 1.5px;
  background-color: rgba(16, 16, 16, 0.1);
}

.exhibitions {
  margin-top: 224px;
}
.exhibitions--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exhibitions--title a {
  display: flex;
  align-items: center;
}
.exhibitions--title img {
  margin-left: 20px;
}
.exhibitions--content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.exhibitions--block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exhibitions--block--info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 689px;
  gap: 8px 20px;
}
.exhibitions--block--info p {
  font-size: 16px;
  line-height: 25.6px;
}
.exhibitions--block--info h3 {
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
}
.exhibitions--block--link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: #DB574D;
}
.exhibitions--block--date {
  text-align: end;
  color: #DB574D;
}

.reviews {
  display: flex;
  justify-content: space-between;
  min-height: 1000px;
  margin-top: 220px;
}
.reviews--info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 480px;
}
.reviews--info button {
  display: flex;
  justify-content: start;
  gap: 10px;
  color: #DB574D;
  font-size: 18px;
  text-align: center;
  border: 1px solid #DB574D;
  border-radius: 100px;
  padding: 16px 20px;
  max-width: 240px;
  transition: all 0.3s ease-in;
}
.reviews--info button:hover {
  font-size: 20px;
  gap: 20px;
}
.reviews--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}
.reviews--content--block {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}
.reviews--content--block--preview {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
}
.reviews--content--block--text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews--content--block--text--title {
  display: flex;
  gap: 30px;
}

.lets-work {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  min-height: 100vh;
  max-height: 668px;
}
.lets-work--button {
  width: 220px;
  height: 220px;
}
.lets-work--button-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26.4px;
}
.lets-work--button_big {
  width: 220px;
  height: 220px;
}
.lets-work--button_small {
  width: 190px;
  height: 190px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer--name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer--name h1 {
  color: #DB574D;
  line-height: 90px;
}
.footer--name p {
  margin-left: 81px;
  font-size: 18px;
}
.footer--content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer--content h3 {
  color: #DB574D;
  text-transform: uppercase;
}
.footer--content nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}
.footer-under {
  display: flex;
  justify-content: space-between;
  margin: 94px 0 48px 0;
}
.footer-under nav {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

@font-face {
  font-family: "ClashDisplay";
  src: local("ClashDisplay"), url("/root/assets/fonts/OTF/ClashDisplay-Regular.otf") format("otf"), url("/root/assets/fonts/TTF/ClashDisplay-Variable.ttf") format("ttf");
}
:root {
  font-family: ClashDisplay;
  background-color: #EEEDEE;
}

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.smaller-wrapper {
  max-width: 1055px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */